# Token to bot
TOKEN=0000000000

# Link da música ou playlist a ser executado
URL=https://www.website.com/

# Id do channel de voz
# Para isto deve ativar o modo desenvolvedor do discord
CHANNELID=000000000